// colors
$blue-primary:#0074D9;
$blue-secondary:#4FADFF;
$black-primary:#1D1D1B;
$black-secondary: #606060;
$white-primary: #FEFFFF;
$background-1:#F6F7F7;
$background-2: #ECEDED;


//fonts
$font-primary: "Montserrat", sans-serif;


//shadow
$base-shadow: 5px 10px 20px #233F6826;


// media
$laptop: 1216px;
$tablet: 769px;
$mobile: 461px;