.advantages {
  background-color: $background-1;

  &__inner {
    display: flex;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__item {
    width: 100%;
    max-width: 270px;
    padding: 30px;
    border-radius: 5px;
    background-color: $white-primary;
    box-shadow: $base-shadow;
  }
  &__item-ttile {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
  }
  &__item-text {
    font-size: 16px;
    color: $black-secondary;
    line-height: 135%;
  }
}



@media (max-width: $laptop) {
  .advantages {
    &__inner {
      flex-direction: column;
      gap: 30px;
    }

    &__items {
      justify-content: center;
    }
  }
}

@media (max-width: $tablet) {
  .advantages {

    &__img {
      object-fit: cover;
      max-height: 500px;
    }
  }
}

@media (max-width: $mobile) {
  .advantages {

    &__item {
      padding: 20px;
    }

    &__item-ttile {
      font-size: 18px;
    }

    &__item-text {
      font-size: 14px;
    }
  }
}