.fancybox__content {
  background: none !important;
}

.fancybox__nav .carousel__button.is-next, .fancybox__nav .carousel__button.is-prev {
  display: none !important;
}

.carousel__track {
  display: none !important;
}